<div class="container-login col-md-12 offset-md-12">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-light">
      <h5 class="card-header">Welcome</h5>
      <div class="card-body bg-light">
        <form class="forms-sample">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control form-control-sm" placeholder="Username" [(ngModel)]="username" name="username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="password" name="password">
          </div>
          <br>
          <button type="submit" class="btn btn-primary mr-2 float-end" (click)="doLogin()" [disabled]="isLogin">Login</button>
        </form>
      </div>
    </div>
    <br>
  </div>

</div>
